/* HeroSection.scss */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,900;1,500&display=swap');

/* General Body Styles */
body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* Hero Content */
  .hero-content {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
    @media (min-width: 640px) {
      width: 66.67%; /* sm:w-8/12 */
      margin-bottom: 0;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Hero Header */
  .hero-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .hero-text {
      text-align: center;
      width: 100%;

      h1 {
        font-size: 2.5rem;
        font-weight: bold;

        .highlight {
          color: #38a169; /* green-700 */
        }
      }

      .underline {
        width: 5rem;
        height: 0.25rem;
        background-color: #38a169; /* green-700 */
        margin: 1rem auto;
      }

      .description {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
      }

      .cta-btn {
        background-color: #38a169; /* green-500 */
        color: white;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.5rem 2rem;
        border-radius: 0.375rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #2f855a; /* green-700 */
        }
      }
    }
  }

  /* Hero Image */
  .hero-image {
    width: 100%;
    height: 12rem; /* sm:h-48 */
    object-fit: cover;

    @media (min-width: 640px) {
      width: 33.33%; /* sm:w-4/12 */
      height: 100vh;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
