@keyframes waves{
    100% {
        background-position: -100% 0;
    }
}

.loader{
    width: calc((100% / 4) - 50px);
    min-width: 290px;
    height: 350px;
    padding: 5px 5px;
    margin: 10px 0;
    border-radius: 4px;
    overflow: hidden;
    background: var(--lite);
    .cover{
        height: 200px;
        background: var(--light-blue);
    }
    .info{
        padding: 30px;
        .square {
            width: 80px;
            height: 80px;
            border-radius: 2px;
            margin-bottom: 20px;
            background: #ececec;
        }
        .line{
            height: 30px;
            background: #ececec;
            border-radius: 2px;
            margin-bottom: 20px;
        }
    }
    .cover, .square, .line {
        background-image: linear-gradient(120deg, #ececec  50%, #fafafa 60%, #fafafa 61%, #ececec  70%);
        background-size: 200%;
        background-position: 100% 0;
        animation: waves 2s linear infinite;
    }
}