.posts{
    width: 100%;
    .wrapper{
        width: 100%;
        margin: 5px 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
