:root{
    --red: #e43737;
    --light-blue: #ebf4fc;
    --lite:  #fff;
    --dark:#131313;
    --blue: #2196f3;
    --dark-blue: #1253a0;
    --light-grey: #ebf4fc;
    --dark-grey: #7a7979;
}


*, *::before, *::after{
    transition: .2s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100%;
    position: relative;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        margin: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px;    
        &:hover{
            color: var(--dark-blue);
            background: var(--lite);
        }
    }

    p{
        font-size: 16px;
        line-height: 1.3rem;
        color: var(--dark);
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
    }
    h1{
        color: var(--dark-blue);
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    h2{
        font-size: 22px;
        font-weight: 500;
        margin: 5px 0;
        color: var(--dark);
        text-align: center;
    }

    h3{
        width: 100%;
        font-size: 20px;
        font-weight: 300;
        color: var(--lite);
        text-align: center;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
    }
    button, .btn{
        min-width: 100px;
        max-width: 120px;
        padding: 8px 10px;
        border: none;
        border-radius: 4px;
        background: var(--dark-blue);
        color: var(--lite);
        cursor: pointer;
        margin: 0 10px;

        font-size: 16px;
        border: 1px solid var(--dark-blue);
        &:hover{
            color: var(--dark-blue);
            background: var(--lite); 
        }
    }

    .facebook{
        color: #4267B2;
    }

    .twitter{
        color: #1DA1F2;
    }

    .instagram{
        color: #C13584;
    }

    .youtube{
        color: #FF0000;
    }

    .linkedin{
        color: #0C63BC;
    }

    .success{
        color: #61b752;
    }
    .error{
        color: var(--red);
    }


    @media (max-width: 768px) {
        .content h2 {
            font-size: 1.5rem;
        }
    
        .content p {
            font-size: 0.9rem;
        }
    }
}
